/Framework/.nuget
/Framework/Framework.Caching/bin
/Framework/Framework.Caching/obj
/Framework/Framework.DataAccess.Contracts/obj
/Framework/Framework.DataAccess.Contracts/bin
/Framework/Framework.DataAccess.EntityFramework/obj
/Framework/Framework.Datatable/obj
/Framework/Framework.Datatable/bin
/Framework/Framework.DI.Contracts/obj
/Framework/Framework.DI.Contracts/bin
/Framework/Framework.DI.Unity/obj
/Framework/Framework.DI.Unity/bin
/Framework/Framework.LinqSupport/obj
/Framework/Framework.LinqSupport/bin
/Framework/Framework.Logger.Contracts/obj
/Framework/Framework.Logger.Contracts/bin
/Framework/Framework.Logger.Log4Net/obj
/Framework/Framework.Logger.Log4Net/bin
/Framework/Framework.Utility/obj
/Framework/Framework.Utility/bin
/Framework/packages
/Framework/Transverse/obj
/Framework/Transverse/bin
/Framework/DatabaseAccess/obj
/Framework/BusinessLogic/obj
